.clr{
    clear: both;
}
body{
    background-color: black;
    color:white;
}
.container-1{
    background: linear-gradient(to right,#ff105f,#ffad06);
    width: 450px;
    height: 650px;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 30%;
    border: 3px solid;
    box-sizing: border-box;
    padding: 50px;
}
.main-login img {
    float: left;
    border-radius: 50px;
    margin: 6%;
    margin-left: 100px;
}

.container-2{
    background: linear-gradient(to right,#ff105f,#ffad06);
    width: 520px;
    height: 600px;
    border-radius: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 30%;
    border: 3px solid;
    box-sizing: border-box;
    padding: 50px;
    font-size: 20px;
}
button {
    background: black;
    color: white;
    margin-left: 100px;
    width: 50%;
    border-radius: 50px;
    font-size:20px;
}
input {
    font-size: 20px;
    width: 100%
}
.form a{
    text-align: left;
    font-size: 18px;
    color: white;
}
.form a:hover {
    color:red;
}
.form a:active {
    color:green;
}
.form{
    text-align: left;
}
.end a {
    background: gray;
    color: white;
    border: 3px solid;
    border-radius: 30px;
    padding: 3px 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px bold;
}
label{
    font-size: 20px;
}
select {
    font-size: 18px;
}
.end a:hover {
    color: red;
}
.end a:active {
    color: green;
}