.clr {
  clear: both;
}
body {
  background-color: black;
  color: white;
}

.container-1,
.container-2 {
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 16px;
  margin: 64px 16px;
  border: 3px solid;
  padding: 16px;
  font-size: 20px;
  max-width: 384px;
}

@media (min-width: 416px) {
  .container-1,
  .container-2 {
    margin: 64px auto;
  }
}

.main-login > div {
  display: flex;
  justify-content: space-between;
  margin: 32px auto 16px;
  max-width: 128px;
}

.social-icon {
  width: 50px;
  border-radius: 100%;
}

input {
  font-size: 20px;
  width: 100%;
  padding: 4px 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: none;
  margin-left: 4px;
}

.form a {
  text-align: left;
  font-size: 18px;
  color: white;
}
.form a:hover {
  color: red;
}
.form a:active {
  color: green;
}
.form {
  text-align: left;
}
button,
.end a {
  background: gray;
  color: white;
  border: 3px solid;
  border-radius: 30px;
  padding: 3px 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px bold;
}
label {
  font-size: 20px;
}
select {
  font-size: 18px;
}
.end a:hover {
  color: red;
}
.end a:active {
  color: green;
}

.other-message {
  margin-top: 24px;
  text-align: center;
}

.button-container {
  text-align: center;
  margin: 16px;
}

.text-center {
  text-align: center;
}

.or-message {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 16px;
  text-align: center;
}

.checkbox-container {
  margin-top: 8px;
}

input[type="checkbox"] {
  width: 20px;
}

.checkbox-container p {
  display: inline;
}
